.header-container {
    display: flex;
    justify-content: start;
    align-items: center;
    width: 50%;
    gap: 1rem;
}

.logo img {
    width: 100px;
}

.content {
    display: flex;
    justify-content: start;
    flex-direction: column;
}

.title {
    display: flex;
    justify-content: start;
    gap: 1rem;
    font-size: 40px;
}

.title img {
    cursor: pointer;    
}

.content > p {
    font-size: 1rem;
}

@media (max-width: 800px) {
    .header-container {
        width: 90%;
    }

    .title {
        font-size: 1.6rem;
    }
}