.task-container {
    display: flex;
    justify-content: start;
    align-items: center;
    padding: 1rem;
    background: #E3E8EF;
    gap: 0.75rem;
    border: none;
    border-radius: 0.5rem;
}

.icon-container {
    height: 100%;
}

.icon-container > div {
    padding: 0.5rem;
    background: #F8FAFC;
    border: none;
    border-radius: 0.5rem;
}

.content-container {
    height: 100%;
    width: 100%;
    color: #43474d;
}

.content-container p:first-child {
    color: #1b1b1b;
    font-weight: bold;
    text-transform: capitalize;
}

.type-container {
    height: 100%;
}

.type-container > div {
    padding: 0.5rem;
    border: none;
    border-radius: 0.5rem;
    display: flex;
    place-items: center;
}

.completed {
    background: #32D657;
}

.completed-offset {
    background: #A0ECB1 !important;
}

.wontDo {
    background: #DD524C;
}

.wontDo-offset {
    background: #F7D4D3 !important;
}

.inProgress {
    background: #E9A23B;
}

.inProgress-offset {
    background: #F5D565 !important;
}