.task-container {
    display: flex;
    justify-content: start;
    align-items: center;
    padding: 0.5rem;
    background: lightgreen;
    gap: 0.75rem;
    border: none;
    border-radius: 0.5rem;
}

.icon-container, .type-container {
    display: flex;
    justify-content: center;
    align-items: center;
    border: none;
    border-radius: 0.5rem;
    background: green;
}

.content-container {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: start;
    color: black;
}

.content-container p:first-child {
    font-size: 1rem;
    font-weight: bold;
}

.type-container > img, .icon-container > img {
    width: 2rem;
    margin: 0.25rem;
}