.task-list {
    width: 50%;
    padding: 1rem;
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.add-task {
    display: flex;
    justify-content: start;
    align-items: center;
    padding: 0.5rem;
    background: #F5E8D5;
    gap: 0.75rem;
    color: orange;
    font-weight: bold;
    font-size: 1rem;
    border: none;
    border-radius: 0.5rem;
}

.add-task img {
    width: 2.5rem;
    margin: 0.25rem;
    background: #E9A23B;
    padding: 0.25rem;
    border: none;
    border-radius: 0.5rem;
}

@media (max-width: 800px) {
    .task-list {
        width: 90%;
    }
}
